<!DOCTYPE html>
<html>
<head>
	<title>Profile Not Found</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body>
	<center>
		<h1>This user does not exist in Twitter!</h1>
		<br>
		<h2>There is no person on Twitter with this specified ID.<br><br>Did you check your spelling?</h2>
		<br>
		<h3>Either way... this person does not have an account on Twitter.<br><br> :(<h3>
		<br>
		<h4><a href="javascript:history.back()">You could try somewhere else...</a></h3>
		<h4><a href="/">Or back to the beginning?</a></h3>
	</center>
</body>
</html>