{% extends "twreferences/base.html" %}

{% block content %}

{% load extra_tags %}

	<h1>Relationship between {{ candidate }} and {{ mention }}</h1>

	<div class="container">
		<div id="map"></div>
	</div>
	
	<section class="tw-list">
	    <div>
	    	<h3>Tweets by {{ candidate }}:</h3>
	    	<h4 class="clickable">Hide!</h4>
	    	<article class="info">
	    	{% for tweet in list_candidate %}
	    	<p>{{ tweet.content }}</p>
	    	{% endfor %}
	    	</article>
	    </div>
	    <div>
	    	<h3>Tweets by {{ mention }}:</h3>
	    	<h4 class="clickable">Hide!</h4>
	    	<article class="info">
	    	{% for tweet in list_mention %}
	    	<p>{{ tweet.content }}</p>
	    	{% endfor %}
	    	</article>
	    </div>
	</section>
	
	<section class="tw-list">
		<div>
			<h3>Tweets {{ candidate }} has mentioned {{ mention }}:</h3>
			<h4 class="clickable">Hide!</h4>
			<article class="info">
			{% for tweet in filter_candidate %}
			<p>{{ tweet.content }}</p>
			{% endfor %}
			</article>
			<p><strong>Total:</strong> {{ count1 }}</p>
		</div>
		<div>
			<h3>Tweets {{ mention }} has mentioned {{ candidate }}:</h3>
			<h4 class="clickable">Hide!</h4>
			<article class="info">
			{% for tweet in filter_mention %}
			<p>{{ tweet.content }}</p>
			{% endfor %}
			</article>
			<p><strong>Total:</strong> {{ count2 }}</p>
		</div>
	</section>

	<p id="relation">{{ relation }}</p>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>

	<script type="text/javascript">
		$(function(){
			var map;

			function initialize(){
				var latlng = new google.maps.LatLng(10.99254, -74.82132);
				var mapSettings = {
					center: latlng,
					zoom: 13,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				}
				map = new google.maps.Map($('#map').get(0), mapSettings);

				var data1 = {{ tw_candidate.coordinates|safe }};
				var data2 = {{ tw_mention.coordinates|safe }};
				var info1 = {{ tw_candidate.info|urlize_list|safe }};
				var info2 = {{ tw_mention.info|urlize_list|safe }};
				addMarker("{{ candidate }}", data1, info1, "blue");
				addMarker("{{ mention }}", data2, info2, "red");
			}

			function addMarker(author, data, info, color){

				for(var i = 0; i < data.length; i++){
					var pos =  data[i];
					var marker = new google.maps.Marker({
						position: pos,
						map: map,
						icon: 'http://maps.google.com/mapfiles/ms/icons/'+ color +'-dot.png',
						title: 'Test!'
					});

					marker.info = new google.maps.InfoWindow({
				    content: '<img src="http://www.catalystlifeservices.org/upload/images/logos/icon_twitter.gif" /><h2>@'+author+':</h2><p>'+info[i]+'</p>'
					});

					google.maps.event.addListener(marker, 'click', function(){
						var marker_map = this.getMap();
						this.info.open(marker_map, this);
					});
				}
			}
			
			function toggleInfo(){
				if( $(this).text() === "Show!"){
					$(this).text("Hide!");
			    	$(this).siblings(".info").fadeIn();
				}
				else{
					$(this).text("Show!");
			    	$(this).siblings(".info").fadeOut();
				}
			}
			
			$(".clickable").click(toggleInfo);
			
			initialize();
		});
	</script>

{% endblock %}