<!DOCTYPE html>
<html>
<head>
	<title>Final Project - Referenced Tweets</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body>
	<center>
		<h1>Welcome! Please select a place to begin:</h1>
		<br>
		<form method="POST" class="post-form">{% csrf_token %}
	        {{ form.as_p }}
	        <button type="submit">Search!</button>
	    </form>

	    {% if results %}
	    	<h2>Results matching your query:</h2>
	    	{% for result in results %}
		    <ul>
		    	<li><a href="{% url "tweetlist" result.place_id %}">{{ result.name }}</a></li>
		    </ul>
		    {% endfor %}
		{% endif %}
		
		<br><br>
		<a href="{% url 'searchuser' %}">Or, you can search by a specific user...</a>
	</center>
</body>
</html>