{% extends "twreferences/base.html" %}

{% block content %}
	<header>
		<h1>Top tweets located at {{ name }}:</h1>
		<h2><a href="{{ url }}">Source</a></h2>
		&nbsp; &nbsp; &nbsp; &nbsp;
	</header>

	<section>
		<div id="tweets">
			<ul>
			{% for tweet in tweets %}
				<li><p><a href="{% url "tweet_user" tweet.user.userid %}">@{{ tweet.user }}</a> :</p>
				<p>{{ tweet.content|urlize }}</p></li>
			{% endfor %}
		</div>
		<br><br>
	</section>
	<footer>
		<p><a href="http://127.0.0.1:8000/">Start</a></p>
		<p><a href="#top">Back to top</a></p>
	</footer>
{% endblock %}