{% extends "twreferences/base.html" %}

{% block content %}
	<header>
		<h1>Tweets made by:</h1>
		<h2>@{{ user }}</h2>
		{% if celebrity %}
			<p><strong class="verified">&#10004 Verified account</strong></p>
		{% endif %}
	</header>

	<section>
		<div class="container">
			<div id="map" />
		</div>
	</section>

	<section>
		<div id="tweets">
			<ul>
			{% for tweet in tweets %}
				<li>
					{%if tweet.location %}
					<p class="geo-content" data-lat={{ tweet.location.y }} data-lng={{ tweet.location.x }}> {{ tweet.content|urlize }} </p>
					{% else %}
					<p class="content"> {{ tweet.content|urlize }} </p>
					{% endif %}
				</li>
			{% endfor %}
			</ul>
		</div>
	</section>

	<section>
		<div id="mentions">
			{% if mentions %}
				<h2>This person mentions frequently:</h2>
				<ul>
				{% for mention in mentions %}
					<li><p><a href="{% url "relation" user mention %}"> @{{ mention }} </a></p></li>
				{% endfor %}
				</ul>
				<p><strong>Click on any of them to calculate if they could be related or not!</strong></p>
			{% else %}
				<h2>This person apparently doesn't have any friends...</h2>
			{% endif %}
		</div>
	</section>

	<!-- Hide this for now
	<section>
		<div id="places">
			{% if places %}
				<h2>This person has visited:</h2>
				<ul>
				{% for place in places %}
					<li><p> {{ place }} </p></li>
				{% endfor %}
				</ul>
			{% else %}
				<h2>We don't have enough data to pinpoint exact locations...</h2>
			{% endif %}
		</div>
	</section>
	-->
	<footer>
		<p><a href="javascript:history.back()">Go back</a></p>
		<p><a href="#top">Back to top</a></p>
	</footer>

	<!-- Scripts below -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript">
		$(function(){
			function initialize(){
				var latlng = new google.maps.LatLng(10.97854, -74.80132);
				var mapSettings = {
					center: latlng,
					zoom: 14,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				}
				map = new google.maps.Map($('#map').get(0), mapSettings);
				
				$(".geo-content").each(function(){
					var lat = $(this).attr("data-lat");
					var lng = $(this).attr("data-lng");
					var pos =  new google.maps.LatLng(lat, lng);
					var marker = new google.maps.Marker({
						position: pos,
						map: map,
						icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
						title: 'Test!'
					});
				});
				
			}

			initialize();
		});
	</script>
{% endblock %}